<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Crear Usuario</title>
</head>
<body>
<h1>Crear Usuario</h1>
<form action="#" th:action="@{/usuarios/save}" th:object="${usuario}" method="post">
  <label for="nombre">Nombre:</label>
  <input type="text" th:field="*{nombre}" id="nombre" name="nombre" />
  <br/>

  <label for="correo">Correo Electrónico:</label>
  <input type="email" th:field="*{correo}" id="correo" name="correo" />
  <br/>

  <label for="contraseña">Contraseña:</label>
  <input type="password" th:field="*{contraseña}" id="contraseña" name="contraseña" />
  <br/>

  <label for="rol">Rol:</label>
  <select th:field="*{rol}" id="rol" name="rol">
    <option th:each="rol : ${roles}" th:value="${rol.rol_id}" th:text="${rol.nombre}"></option>
  </select>
  <br/>

  <!-- Botón para guardar los datos -->
  <button type="submit">Guardar</button>
</form>

<!-- Manejo de errores -->
<div th:if="${error}">
  <p th:text="${error}"></p>
</div>

<div th:if="${msg}">
  <p th:text="${msg}"></p>
</div>

</body>
</html>