<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="d-flex" style="width: 50rem; border:1px solid #E3E3E3; padding: 30px; border-radius: 20px;">
            <div style="width: 25rem;">
                <a th:href="@{/miembros}" class="d-flex align-items-center h-4" style="gap:10px"><i class="fa-solid fa-arrow-left"></i>  Regresar</a>
                <img style="width: 350px; object-fit:cover" th:src="@{/assets/img/3024051.jpg}">
            </div>
            <div style="width: 25rem;">
                <h6 class="text-center">¿Esta seguro que desea eliminar este registro?</h6>
                <div>
                    <hr/>
                    <dl class="row">
                        <dt class = "col-sm-2">ID</dt>
                        <dd class = "col-sm-10" th:text="${miembro.miembroEquipo_id}"></dd>

                        <dt class = "col-sm-2">Nombre</dt>
                        <dd class = "col-sm-10" th:text="${miembro.nombre}"></dd>

                        <dt class = "col-sm-2">Cargo</dt>
                        <dd class = "col-sm-10" th:text="${miembro.cargo}"></dd>
                    </dl>

                    <form th:action="@{/miembros/delete}" method="post">
                        <input type="hidden" name="miembroEquipo_id" th:value="${miembro.miembroEquipo_id}">
                        <input type="submit" value="Eliminar" class="w-100 custom-btn ripple danger">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>