<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Eliminar miembro</h1>
    <h3>¿Esta seguro que desea eliminar este registro?</h3>
    <div>
        <hr/>
        <dl class="row">
            <dt class = "col-sm-2">ID</dt>
            <dd class = "col-sm-10" th:text="${miembro.miembroEquipo_id}"></dd>

            <dt class = "col-sm-2">Nombre</dt>
            <dd class = "col-sm-10" th:text="${miembro.nombre}"></dd>

            <dt class = "col-sm-2">Cargo</dt>
            <dd class = "col-sm-10" th:text="${miembro.cargo}"></dd>
        </dl>

        <form th:action="@{/miembros/delete}" method="post">
            <input type="hidden" name="miembroEquipo_id" th:value="${miembro.miembroEquipo_id}">
            <input type="submit" value="Eliminar" class="btn btn-danger">
            <a th:href="@{/miembros}">Regresar</a>
        </form>
</div>
</div>