<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">

    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="d-flex" style="width: 40rem; border:1px solid #E3E3E3; padding: 30px; border-radius: 20px;">
            <div style="width: 20rem;">
                <dl class="row">
                    <a th:href="@{/miembros}" class="d-flex align-items-center h-4" style="gap:10px"><i class="fa-solid fa-arrow-left"></i>  Regresar</a>
                    <dt class = "col-sm-3 mt-3">Nombre:</dt>
                    <dd class = "col-sm-10" th:text="${miembro.nombre}"></dd>

                    <dt class = "col-sm-3">Cargo:</dt>
                    <dd class = "col-sm-10" th:text="${miembro.cargo}"></dd>
                </dl>
                <div class="d-flex" style="gap:30px">
                    <a th:href="@{/miembros/edit/{miembroEquipo_id} (miembroEquipo_id=${miembro.miembroEquipo_id}) }" class="custom-btn ripple info"><i class="fa-solid fa-pen"></i></a>
                    <a th:href="@{/miembros/remove/{miembroEquipo_id} (miembroEquipo_id=${miembro.miembroEquipo_id})}" class="custom-btn ripple danger"><i class="fa-solid fa-trash"></i></a>
                </div>

            </div>
            <div style="width: 20rem;">
                <img style="width: 300px; object-fit:cover" th:src="@{/assets/img/sapiens.png}">
            </div>
        </div>
    </div>
</div>