<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Proyecto</title>
</head>
<body>
<div layout:fragment="content">

    <div class="d-flex justify-content-center align-items-center vh-100 w-100 py-3">
        <div class="d-flex w-100 h-100" style="width: 50rem; border:1px solid #E3E3E3; padding: 30px; border-radius: 20px;">
            <div style="width: 50%;" class="d-flex flex-column">
                <a th:href="@{/informes}" class="d-flex align-items-center h-4" style="gap:10px">
                    <i class="fa-solid fa-arrow-left"></i> Regresar</a>
                <div class="w-100 h-100 justify-content-center align-items-center">
                    <img style="width: 400px; object-fit:cover" th:src="@{/assets/img/Add-files-rafiki.png}">
                </div>
            </div>
            <div style="width: 50%;">
                <div class="w-100">
                    <h5 class="card-title">Agregar Informe</h5>
                </div>
                <div class="card-body mt-3">
                    <form th:action="@{/informes/save}" th:object="${informe}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre" class="fw-bold" style="font-size:14px">Nombre:</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del informe" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaInicio" class="fw-bold" style="font-size:14px">Fecha de inicio:</label>
                    <input type="date" class="form-control" th:field="*{fechaInicio}" id="fechaInicio" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaFin" class="fw-bold" style="font-size:14px">Fecha de finalización:</label>
                    <input type="date" class="form-control" th:field="*{fechaFin}" id="fechaFin" required>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <label for="proyecto" class="fw-bold" style="font-size:14px">Proyecto:</label>
                <select  class="form-control" th:field="*{proyecto}">
                    <option value="" disabled selected>Seleccione un proyecto</option>
                    <option th:each="proyecto : ${proyectos}" th:value="${proyecto.proyecto_id}" th:text="${proyecto.nombre}"></option>
                </select>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="miembro" class="fw-bold" style="font-size:14px">Miembro:</label>
                    <select  class="form-control" th:field="*{miembro}">
                        <option value="" disabled selected>Seleccione un miembro</option>
                        <option th:each="miembro : ${miembros}" th:value="${miembro.miembroEquipo_id}" th:text="${miembro.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estado" class="fw-bold" style="font-size:14px">Estado:</label>
                    <select class="form-control" th:field="*{estado}">
                        <option value="" disabled selected>Seleccione un Estado</option>
                        <option th:each="estado : ${estados}" th:value="${estado.estado_id}" th:text="${estado.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="custom-btn ripple info w-100">Guardar</button>
                        </div>
    </form>
</div>
