<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<body>
<div layout:fragment="content">
    <h1>Crear nuevo informe</h1>
    <form th:action="@{/informes/save}" th:object="${informe}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del informe" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaInicio">Fecha de inicio</label>
                    <input type="date" class="form-control" th:field="*{fechaInicio}" id="fechaInicio" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaFin">Fecha de finalización</label>
                    <input type="date" class="form-control" th:field="*{fechaFin}" id="fechaFin" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select class="form-control" th:field="*{estado}">
                        <option value="" disabled selected>Seleccione un Estado</option>
                        <option th:each="estado : ${estados}" th:value="${estado.estado_id}" th:text="${estado.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="proyecto">Proyecto</label>
                    <select class="form-control" th:field="*{proyecto}">
                        <option value="" disabled selected>Seleccione un proyecto</option>
                        <option th:each="proyecto : ${proyectos}" th:value="${proyecto.proyecto_id}" th:text="${proyecto.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <select class="form-control" th:field="*{usuario}">
                        <option value="" disabled selected>Seleccione un usuario</option>
                        <option th:each="usuario : ${usuarios}" th:value="${usuario.usuario_id}" th:text="${usuario.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>

        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button> |
        <a th:href="@{/informes}">Regresar</a>
    </form>
</div>
</body>
</html>
