<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Detalles del informes</h1>
    <div>
        <hr/>
        <dl class="row">
            <dt class = "col-sm-2">Informe ID</dt>
            <dd class = "col-sm-10" th:text="${informe.informe_id}"></dd>

            <dt class = "col-sm-2">Nombre</dt>
            <dd class = "col-sm-10" th:text="${informe.nombre}"></dd>

            <dt class = "col-sm-2">Fecha de inicio</dt>
            <dd class = "col-sm-10" th:text="${#dates.format(informe.fechaInicio, 'yyyy-MM-dd')}"></dd>

            <dt class = "col-sm-2">Fecha de finalizacion </dt>
            <dd class = "col-sm-10" th:text="${#dates.format(informe.fechaFin, 'yyyy-MM-dd')}"></dd>

            <dt class = "col-sm-2">Estado </dt>
            <dd class = "col-sm-10" th:text="${informe.estado.nombre}"></dd>


            <dt class = "col-sm-2">Proyecto </dt>
            <dd class = "col-sm-10" th:text="${informe.proyecto.nombre}"></dd>

            <dt class = "col-sm-2">Usuario </dt>
            <dd class = "col-sm-10" th:text="${informe.usuario.nombre}"></dd>
        </dl>
        <a th:href="@{/informes}">Regresar</a>
    </div>
</div>