<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <div th:if="${msg != null}">
        <script th:inline="javascript">
            Swal.fire({
                title: "Confirmación",
                text: /*[[${msg}]]*/ 'Mensaje aquí',
                icon: "success"
            });
        </script>
    </div>

    <div th:if="${error != null}">
        <script th:inline="javascript">
            Swal.fire({
                title: "Error",
                text: /*[[${error}]]*/ 'Error aquí',
                icon: "error"
            });
        </script>
    </div>

    <h1>Listado de informes</h1>

    <a th:href="@{/informes/create}" class="btn btn-outline-primary">Nuevo informe</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha de inicio</th>
            <th>Fecha de finalización</th>
            <th>Estado</th>
            <th>Proyecto</th>
            <th>Usuario</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="item : ${informes}">
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.fechaInicio}"></td>
            <td th:text="${item.fechaFin}"></td>
            <td th:text="${item.estado?.nombre ?: 'Sin estado'}"></td>
            <td th:text="${item.proyecto != null ? item.proyecto.nombre : 'Sin proyecto'}"></td>
            <td th:text="${item.usuario != null ? item.usuario.nombre : 'Sin usuario'}"></td>
            <td>
                <a th:href="@{/informes/details/{informe_id} (informe_id = ${item.informe_id})}" class="btn btn-outline-secondary">Detalles</a>
                <a th:href="@{/informes/edit/{informe_id} (informe_id = ${item.informe_id})}" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/informes/remove/{informe_id} (informe_id = ${item.informe_id})}" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example" style="margin-top:50px;">
        <ul class="pagination" style="gap:5px">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a th:class="${pageNumber == (currentPage ?: 0) + 1} ? 'custom-btn ripple primary' : 'custom-btn ripple primary-outline'"
                   th:href="@{/informes?page=${pageNumber}}"
                   th:text="${pageNumber}">
                </a>
            </li>
        </ul>
    </nav>
</div>

</html>
