<html lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
                title: "Confirmación",
                text: '[[${msg}]]',
                icon: "success"
            });
        </script>
    </div>

    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>

    <h1>Listado de informes</h1>

    <a th:href="@{/informes/create}" class="btn btn-outline-primary">Nuevo informe</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Informe ID</th>
            <th>Nombre</th>
            <th>Fecha de inicio</th>
            <th>Fecha de finalizacion</th>
            <th>Estado</th>
            <th>Proyecto</th>
            <th>Usuario</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="item : ${informes}">
            <td th:text="${item.informe_id}"></td>
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.fechaInicio}"></td>
            <td th:text="${item.fechaFin}"></td>
            <td th:text="${item.estado.nombre}"></td>
            <td th:text="${item.proyecto.nombre}"></td>
            <td th:text="${item.usuario.nombre}"></td>
            <td>
                <a th:href="@{/informes/details/{informe_id} (informe_id = ${item.informe_id})}" class="btn btn-outline-secondary">Detalles</a>
                <a th:href="@{/informes/edit/{informe_id} (informe_id = ${item.informe_id})}" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/informes/remove/{informe_id} (informe_id = ${item.informe_id})}" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{/informes?page=${pageNumber}}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>
